<h1 class='text-center m-3'> Payment details </h1>

<%= form_with model: @payment, url: order_payment_path(@order), local: true do |form| %>
  <%= form.hidden_field :order_id, value: @order.id %>

  <div class="m-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control', required: true %>
  </div>

  <div class="m-3">
    <%= form.label :email, class: 'form-label' %>
    <%= form.email_field :email, class: 'form-control', required: true %>
  </div>

  <div class="m-3">
    <%= form.label :address, class: 'form-label' %>
    <%= form.text_area :address, class: 'form-control', required: true %>
  </div>

  <div class="m-3">
    <%= form.label :phone_number, class: 'form-label' %>
    <%= form.telephone_field :phone_number, class: 'form-control', required: true %>
  </div>

  <div class="m-3">
    <%= form.label :payment_method, class: 'form-label' %>
    <%= form.text_field :payment_method, class: 'form-control', value: 'COD', disabled: true %>
  </div>

  <div class="text-center m-4">
    <%= form.submit 'Click to Pay', class: 'btn btn-primary' %>
  </div>
<% end %>
