<nav class="navbar navbar-expand-lg" style="background-color: #8d6e63;"> 
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="<%= asset_path('logo.jpg') %>" alt="Logo" class="rounded-circle" style="height: 30px; width: 30px;">
      <span class="ms-2" style="color: #e9ecef; font-weight: bold;">DEVDEN AURA</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <%= link_to 'Home', root_path, class: 'nav-link' %>  
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% Category.all.each do |category| %>
              <li><%= link_to category.name, category_path(category), class: 'dropdown-item' %></li>
            <% end %>
          </ul>
        </li>
      </ul>
      
      <form class="d-flex me-3">
        <input class="form-control me-2" type="search" name="q[name_cont]" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button> 
      </form>

      <div class="dropdown me-3">
        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://avatars.githubusercontent.com/u/9221?v=4" alt="User" class="rounded-circle" style="height: 30px; width: 30px;">
        </a>

        <ul class="dropdown-menu" aria-labelledby="profileDropdown">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><a class="dropdown-item" href=""><%= link_to 'Edit profile', edit_user_registration_path,class: 'dropdown-item dropdown-item-custom' %> </a></li>
          <li><a class="dropdown-item" href="#">Change Picture</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href= ""><%= link_to 'LogOut', destroy_user_session_path,class: 'dropdown-item dropdown-item-custom', method: :delete %></a></li>
        </ul>
      </div>

      <% if current_user && current_user.order.any? %>
        <%= link_to order_path(current_user.order.find_by(status: 'Pending')), class: 'cart-icon' do %>
          <i class="bi bi-cart" style="font-size: 24px;"></i>
        <% end %>
      <% else %>
        <i class="bi bi-cart" style="font-size: 24px;"></i>
      <% end %>
    </div>
  </div>
</nav> 
